.hero {
    position: absolute;
    top: 100px;
    width: 100%;
}

.hero-container {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.hero-text h1 {
    font-size: 30px;
    font-weight: 400;
    justify-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.hero-text p {
    font-size: 16px;
    font-weight: 300;
    justify-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-items: center;
    justify-content: center;
}

.btn-get-started {
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #af9271;
    color: #60655b;
    /* margin-left: 50px; */
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* flex-direction: row; */
    right: 20px;
    background: #f4efd8;
}

.btn-get-started:hover {
    background: #888d91;
    color: #3a615b;
}

.btn-watch-videos {
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #af9271;
    color: #60655b;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-watch-videos:hover {
    background: #888d91;
    color: #3a615b;
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    top: 30px;
}

@media screen and (max-width: 600px) {
    .hero {
        position: initial;
        width: 100%; 
    }

    .hero-text p {
        font-size: 14px;
    }

    .image-container {
        width: 200px;
        height: 150px;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
      font-size: 20px;
    }
  
    .hero-text p {
      font-size: 12px;
    }
  
    .button-container {
      flex-direction: column;
      align-items: center;
    }
  
    .btn-get-started,
    .btn-watch-videos {
      margin-top: 10px;
      position: inherit;
    }

}